<!-- homepage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
</head>
<body>
    <h1>Welcome to the Login Page</h1>
    <button onclick="window.location.href='/create_participant'">Create User</button><br><br>
    <button onclick="window.location.href='/create_student'">Create User</button><br><br>
    <button onclick="window.location.href='/create_organiser'">Create User</button><br><br>
    <button onclick="window.location.href='/login/student'">Login as Student</button><br><br>
    <button onclick="window.location.href='/login/participant'">Login as Participant</button><br><br>
    <button onclick="window.location.href='/login/organiser'">Login as Organiser</button><br><br>
</body>
</html>
