<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.Name }} Details</title>

</head>
<body>
    <h1>{{ event.Name }} Details</h1>
    <p><strong>Name:</strong> {{ event.Name }}</p>
    <p><strong>Type:</strong> {{ event.Type }}</p>
    <p><strong>Date:</strong> {{ event.Date }}</p>
    <p><strong>Time:</strong> {{ event.Time }}</p>
    <p><strong>Description:</strong> {{ event.Description }}</p>

    <!-- display list of participants and list of volunteers of current event   -->

</body>
</html>
